.timeline-con:hover .timeline-circle {
  /* mikado yellow */
  background-color: #ffc301;
  transition: 0.25s;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-color: white;
  transform-origin: 0%;
  z-index: 2;
}

.guest-table tr,
th,
td {
  padding: 1rem;
}

.guest-table {
  border-collapse: collapse;
  border: 3px solid #320300;
}

.guest-table tr:nth-child(even) {
  background-color: #ffefbb;
}

.icon-class {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 40px;
}

@media only screen and (max-width: 1050px) {
  .section-con {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .sec-2 {
    flex-direction: column;
    padding: 20px;
  }
  .couple-img-con {
    display: flex;
    justify-content: center;
  }
  .couple-img {
    width: 80%;
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 600px) {
  .sec-5-field {
    flex-direction: column;
    gap: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .section-con {
    padding: 10px;
  }
  .sec-3-event {
    margin: 10px 0;
  }
  .sec-3-event > div {
    padding: 0 20px;
  }
  .sec-4-con {
    padding: 0;
  }
  .guest-form-main-con {
    padding: 0;
  }
  .guest-form-con {
    padding: 0;
    width: 100%;
  }
  .sec-5-form {
    padding: 0;
  }
}
