.timeline-con:hover .timeline-circle {
  background-color: red;
  transition: 0.25s;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-color: white;
  transform-origin: 0%;
  z-index: 2;
}
